ShoppingMemo/.vs/
ShoppingMemo/ShoppingMemo/ShoppingMemo.Android/bin/
ShoppingMemo/ShoppingMemo/ShoppingMemo.Android/obj/
ShoppingMemo/ShoppingMemo/ShoppingMemo.iOS/obj/
ShoppingMemo/ShoppingMemo/ShoppingMemo/bin/
ShoppingMemo/ShoppingMemo/ShoppingMemo/obj/
ShoppingMemo/ShoppingMemo/ShoppingMemo.iOS/bin/
*.user
